<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rig Status</title>
    <meta http-equiv="refresh" content="30" >
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
    <style>
        body {
            background-color: floralwhite;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            margin-left: 3%;
            margin-top: 0%;
            width: 100%;
        }
        table {
            border-collapse: collapse
        }
        table td, table th {
            font-size: 1em;
            border: 1px solid rgba(46, 48, 50, 0.47);
            padding: 3px 7px 2px 7px;
        }

    </style>
</head>
<body>

<header role="banner">
    <h1>Peeper:<h1>
</header>

{% if rigs %}

    <table style="width: auto">
        <tr>
            <th>Rig</th>
            <th>Status</th>
            <th>H</th>
            <th>M</th>
            <th>%</th>
            <th>T</th>
            <th>Ago</th>
            <th>VNC</th>

        </tr>
        {% for r in rigs %}
            <tr style="background: {{ r.status_color }}">
                <td>{{ r.name }}</td>
                <td>{{ r.status }}</td>
                <td>{{ r.correct }}</td>
                <td>{{ r.non_responses }}</td>
                <td>{{ r.performance }}</td>
                <td>{{ r.n_trials }}</td>
                <td>{{ r.time_since_last }}</td>
                {% if r.vnc_ip %}
                    <td><a href="{{ r.vnc_ip }}" target="_blank">link</a></td>
                {% else %}
                    <td>none</td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No rigs yet!</p>
{% endif %}