<h1>Add a mouse:</h1>

{% if error_msg %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'behavior_subjects:mouse_adder' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="add" value="Add mouse...">

</form>

{#{{ form }}#}

{#<form action="{% url 'behavior_subjects:add_mouse' %}" method="post">#}
{#    {% csrf_token %}#}
{#    <label for="mouse_num">Mouse number:</label>#}
{#    <input type="number" name="mouse_num" id="mouse_num"/>#}
{#    <br>#}
{#    <label for="dob">Date of birth:</label>#}
{#    <input type="datetime" name="dob" id="dob"/>#}
{#    <br>#}
{#    <input type="radio" name="sex" value="Male">#}
{#    <br>#}
{#    <input type="radio" name="sex" value="Female">#}
{##}
{#    <input type="submit" value="Add" />#}
{##}
{#</form>#}